.text-center{
    text-align: center;
}

.bg-red{
    background-color: red;
}
.mx-auto{
    margin: auto;
}
.m-w-20{
    max-width: 100vw;
}

.flex{
display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}
html,body{
    height: 100%;
    width: 100%;
}
.button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}
.row{
    margin: 8px 0;
}
.row input{
    margin: 0;
    padding: 10px 8px;
    border: 2px solid black;
    border-radius: 5px;
font-size: 20px;

}
.button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
  }